.movie-byGenre-card {
    display: flex;
    margin: 1rem;
    text-align: center;
    background: #e5faf3;
    box-shadow: rgba(118, 124, 130, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

.movie-byGenre-card img {
    border-radius: 10px 0 0 10px;
    width: 100%;
}

.movie-genre-overview {
    text-align: center;
    padding: 12px;
}

.movie-genre-overview p {
    font-size: 14px;
    width: 100%;
}