.container-movies-byGenre {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movies-byGenre {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    font-family: sans-serif;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    cursor: pointer;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: #6b7d73;
    color: #d3f1e1;
    padding: 0.5rem 1rem;
    font-size: 14px;
    width: 150px;
}

.button-container button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
