.card {
    text-align: center;
    background: #e5faf3;
    box-shadow: rgba(118, 124, 130, 0.2) 0px 8px 24px;
    border-radius: 10px;
}
.title {
    height: 70px;
    margin: 16px 8px 0 8px;
}
.card img {
    border-radius: 10px 10px 0 0;
    width: 100%;

}

.title {
    margin-bottom: 20px;
    font-size: 20px;
}

.card button {
    border: none;
    border-radius: 10px;
    background-color: #6b7d73;
    color: #d3f1e1;
    padding: 0.5rem 1rem;
    font-size: 14px;
    margin: 24px;
}

.card button:hover {
    cursor: pointer;
}