.movie-single-card {
    max-width: 1000px;
    display: flex;
    margin: 20px auto;
    text-align: center;
    background: #e5faf3;
    box-shadow: rgba(118, 124, 130, 0.2) 0px 8px 24px;
    border-radius: 10px;

}

.movie-single-card img {
    border-radius: 10px 0 0 10px;
    width: 100%;
}

.single-movie-overview {
    margin: 30px;
    display: flex;
    flex-direction: column;

}

.movie-overview img {
    border-radius: 10px;
}

.movie-overview {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
}

.movie-overview p {
    font-size: 22px;
}

.movie-overview button {
    width: 200px;
    margin: auto;
    border: none;
    border-radius: 10px;
    background-color: #6b7d73;
    color: #d3f1e1;
    padding: 0.5rem 1rem;
    font-size: 14px;

}

.movie-overview button:hover {
    cursor: pointer;
}