.search-page-container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: sans-serif;
}
.form{
    margin-bottom: 24px;
    width: 300px;
}
.form input{
    border: none;
    border-radius: 10px;
    padding: 4px 12px;
}
.form button{
    border: none;
    border-radius: 10px;
    background-color: #6b7d73;
    color: #d3f1e1;
    padding: 4px 12px;
    font-size: 14px;
    margin-left: 12px;
    cursor: pointer;
}